body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1c1c1c;
    color: #f8f8f8;
}

.main {
    display: flex;
}

.filter {
    width: 20%;
    padding: 20px;
    border-right: 1px solid #3a3a3a;
}

.right {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.search {
    margin-bottom: 20px;
    width: 98%;
}

.search input {
    background-color: #3a3a3a;
    border: 1px solid #3a3a3a;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.cards {
    display: flex;
    flex-direction: column;
}


.card:hover {
    background-color: #3a3a3a;
}

.course-info h3 {
    margin: 0;
}

.course-info p {
    margin: 5px 0;
}

.course-info a {
    text-decoration: none;
    color: #007BFF;
}

.course-info a:hover {
    text-decoration: underline;
}

.card {
     margin-bottom: 20px;
     padding: 10px;
     border: 1px solid #3a3a3a;
     display: flex;
     flex-direction: row;
     gap: 10px;
}

.thumbnail {
     width: 100px;
     height: 100px;
     object-fit: cover;
}

.course-info {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.hidden {
     display: none;
}